 
body {
	margin:30px;
	/*text-align: center;*/
	background-color: beige;
	background-repeat: no-repeat;
	background-size: cover;
	background-image: url("https://i.pinimg.com/1200x/5e/0f/d6/5e0fd6aaa4a4040400d17af3be923833.jpg");
	font-family: Copperplate, "Times New Roman" ,fantasy, "Copperplate Gothic Light",Verdana, Papyrus, sans-serif;
}

/* home page */
.menu > * {
	text-align: center;
	padding: 20px;
	border: 2px solid darkred;
	margin: 10px;
	font-size: 20px;
	font-weight: bold;

}

.quote, .quote em {
	background-color: #F5E6C8;
	color:#2B2B2B ;
	padding: 2px 4px 2px 30px ;

}

h1 {
	padding: 2px;
	text-align: center;
	color: #191970;
	border-bottom: 2px solid black;

}

.description h2, .ingredients h2, .steps h2{
	display: inline-block;
	border-bottom: 2px solid #6B4037;
	color: #6B4037;
}

.description, .ingredients, .steps{
	font-size: 15px;
	padding: 10px;
	background-color: #EEE6D0;
	margin: 25px;
}

img {
	display: block;
	margin: 0 auto;
}